header {
    padding: 30px;
    text-align: center;
    background: #c895e3;
    color: white;
    font-size: 30px;
}

body {
    background-color: white;
    margin: 0;
}

main {
    margin: 16px
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #995da2;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #c895e3;
    color: white;
}

.active {
    background-color: rgb(123, 78, 145);
}